<section class="nav-item text-center footer-arrow">
  <a class="nav-link p-0" href="#forside">
    <i class="fa fa-angle-up scrollUp white" aria-hidden="true"></i>
  </a>
</section>
<section class="footer" id="footer">
  <div class="bg-black p-5 text-center">
    <h2 class="white">
      <span style="font-size: 14px; font-weight:100;" class="muted mr-2">alle rettigheder forbeholdes</span>
      <img src="./../../../assets/images/Logotest.png" class="mr-3 brand-logo" alt="logo" style="margin-left:1%"> Warp
      Media</h2>
  </div>
</section>