.footer-arrow {
    line-height: 55px;
    a {
        background: black;
        padding: 20px;
    }
}
.footer {
    .less-padded-footer {
        padding: 30px;
    }
    h2 {
        .on-large-display {
            margin-top: 40px;
            @media screen and (min-width: 768px) {
                display: none;
            }
        }
        .mobile-formatted {
            font-size: 14px;
            font-weight: 100;
        }
    }
}