<nav class="navbar navbar-expand-md navbar-fixed-top bg-dark padding-16 active navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="./../../../assets/images/Logotest.png" class="brand-logo padding-right-16">
        Warp Media
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Forside</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Om os</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#project">Projekter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Priser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contect">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>