<section class="contect" id="contect">
  <div class="container">
    <h3 class="text-center black mb-4 headline underlined-header">Skal vi tage en snak?</h3>
    <p class="text-center mt-4">Please fill up the form and we'll be in touch soon.</p>
    <div class="row mt-5 p-sm">
      <div class="col-lg-6 mt-3">
        <p>This is by far the cleanest template and the most well structured and the most well thought out design theme
          I have
          ever used. The codes are up to standard. We can help you find the precise message to clearly speak to who.</p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> 58 alley, Mertle St, Rd 12, Apt 2C
          <br> Seattle, Washington</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> +92 1440 59 58
          <br> +92 1440 59 58</p>
        <p>
          <i class="fa fa-globe" aria-hidden="true"></i> email@website.com
          <br> www.website.com</p>
      </div>
      <div class="col-lg-6">
        <div class="form-area">
          <form>
            <br style="clear:both">
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
            </div>
            <a href="#" class="primary-btn banner-btn mt-4" style=" color: #000;">Submit Form</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>