.contect {
  padding: 100px 0 160px 0;
  p {
    font-size: 16px;
    line-height: 28px;
  }
  input, textarea::placeholder {
    font-weight: bold;
  }
  input:-moz-placeholder {
    font-weight: bold;
  }
  input::-webkit-input-placeholder {
    font-weight: bold;
  }
}
