<div class="main-content">
    <canvas id="basic-canvas" #myCanvas></canvas>
    <div class="header">
        <app-header></app-header>
    </div>
    <section class="inner-body" id="about">
        <div class="banner-area">
            <div class="inner-banner-content text-center">
                <h1>kreativt Digitalt Bureau</h1>
                <h3>Websites, Webshops & Web Apps</h3>
                <a href="#about" class="primary-btn banner-btn">Explore Us</a>
            </div>
        </div>
    </section>
</div>
<section class="om-os" id="om">
    <app-om-os></app-om-os>
</section>
<section class="om-os" id="projekter">
    <app-projekter></app-projekter>
</section>
<section class="om-os" id="services">
    <app-services></app-services>
</section>