<div class="main-content">
  <canvas id="basic-canvas" #myCanvas></canvas>
  <div class="header">
    <app-header></app-header>
  </div>
  <section class="inner-body" id="forside">
    <div class="banner-area">
      <div class="inner-banner-content text-center">
        <h1>kreativt Digitalt Bureau</h1>
        <h3>Websites, Webshops & Web Apps</h3>
        <a href="#om" class="primary-btn banner-btn">Explore Us</a><br>
        <i class="fa fa-chevron-down white mt-5 arrow bounce" aria-hidden="true"></i>
        <div class="rocket hide-on-mobile">
          <img src="./../assets/images/Rocket.png">
        </div>
      </div>
    </div>
  </section>
</div>
<section class="om-os" id="om">
  <app-om-os></app-om-os>
</section>
<section class="om-os" id="projekter">
  <app-projekter></app-projekter>
</section>
<section class="om-os" id="services">
  <app-services></app-services>
</section>
<section class="om-os" id="prised">
  <app-priser></app-priser>
</section>
<section class="om-os" id="kontakt">
  <app-kontakt></app-kontakt>
</section>
<div class="footer">
  <app-footer></app-footer>
</div>
