<section class="about py-10" id="about">
  <div class="container">
    <h3 class="text-center black headline">Om Warp Media</h3>
    <p class="text-center mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros
      <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
    <div class="row">
        <div class="col-md-4 col-12 mt-5 pl-sm">
        <h4>
          <i class="fa fa-coffee default-color mr-2 font-md" aria-hidden="true"></i> Digital Branding</h4>
        <p class="mt-2">We can help you find the precise message to clearly speak to who.</p>
      </div>
      <div class="col-md-4 col-12 mt-5 pl-sm">
        <h4>
          <i class="fa fa-gamepad default-color mr-2 font-md" aria-hidden="true"></i> Mobile Game</h4>
        <p class="mt-2">We can help you find the precise message to clearly speak to who.</p>
      </div>
      <div class="col-md-4 col-12 mt-5 pl-sm">
        <h4>
          <i class="fa fa-globe default-color mr-2 font-md" aria-hidden="true"></i> Website Design</h4>
        <p class="mt-2">We can help you find the precise message to clearly speak to who.</p>
      </div>
      <div class="col-md-4 col-12 mt-5 pl-sm">
        <h4>
          <i class="fa fa-rocket default-color mr-2 font-md" aria-hidden="true"></i> Product Building</h4>
        <p class="mt-2">We can help you find the precise message to clearly speak to who.</p>
      </div>
      <div class="col-md-4 col-12 mt-5 pl-sm">
        <h4>
          <i class="fa fa-file default-color mr-2 font-md" aria-hidden="true"></i> Search Engine Optimization</h4>
        <p class="mt-2">We can help you find the precise message to clearly speak to who.</p>
      </div>
      <div class="col-md-4 col-12 mt-5 pl-sm">
        <h4>
          <i class="fa fa-camera default-color mr-2 font-md" aria-hidden="true"></i> Photography</h4>
        <p class="mt-2">We can help you find the precise message to clearly speak to who.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="parallax text-center pt-10 white">
    <h1 class="mb-4 white">Warp Media</h1>
    <h3 class="white">Vi laver professionelle Websites, Webhops & Web Apps, </h3>
    <p class="mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
      <br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
  </div>
</section>