<section class="pricing grey-bg" id="priser">
  <div class="container">
    <h3 class="text-center black mb-4 headline underlined-header">Priser</h3>
    <p class="text-center black mt-4">Alle priser er listet som start pris og med standard funktioner
      <br> Derfor vil vi meget gerne tage en snak om dit projekt og udregne et tilbud til dig ud fra dine ønsker til
      dit website, webshop eller web app</p>
    <br>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="m-3">Website</h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title default-color">1999
            <small class="text-muted">DKK</small>
          </h1>
          <ul class="list-unstyled">
            <li>Full access</li>
            <li class="mt-2">10 users included</li>
            <li class="mt-2">2 GB of storage</li>
            <li class="mt-2">Email support</li>
            <li class="mt-2">Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-danger p-3 btn-pricing mb-4">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="m-3">Webshop</h3>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title default-color">1999
              <small class="text-muted">DKK</small>
            </h1>
            <ul class="list-unstyled">
              <li>Full access</li>
              <li class="mt-2">10 users included</li>
              <li class="mt-2">2 GB of storage</li>
              <li class="mt-2">Email support</li>
              <li class="mt-2">Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-danger p-3 btn-pricing mb-4">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="m-3">Web Apps</h3>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title default-color">1999
                <small class="text-muted">DKK</small>
              </h1>
              <ul class="list-unstyled">
                <li>Full access</li>
                <li class="mt-2">10 users included</li>
                <li class="mt-2">2 GB of storage</li>
                <li class="mt-2">Email support</li>
                <li class="mt-2">Help center access</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-outline-danger p-3 btn-pricing mb-4">Buy Now</button>
            </div>
          </div>
        </div>
  </div>
</section>